{
    -webkit-user-select:none; /* Prevent copy paste for all elements except text fields */
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0); /* set highlight color for user interaction */
    -moz-tap-highlight-color:rgba(0, 0, 0, 0); /* set highlight color for user interaction */
    -moz-user-select:-moz-none;
    -webkit-touch-callout: none; /* prevent the popup menu on any links*/
    margin:0;
    padding:0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    /*box-sizing:border-box;*/
}
/*body {
  /*position: absolute;
  bottom: 60px;
  width: 100%;
  height: 100vh;
  display: flex;*/
   display:-webkit-box;
  /*justify-content: center;
  align-content: center;
  margin: 0;
  background: black;
}*/
body {
   background: black;
   overflow-x:hidden;
   height: 100vh;
    -webkit-text-size-adjust:none;
    /*font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    display:-webkit-box;
    /* We want to layout our first container vertically */
    -webkit-box-orient: vertical;
    /* we want our child elements to stretch to fit the container */
    -webkit-box-align:stretch;
 }

.displayBox {
  min-width: 400px;
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  background: black;
}

/*.displayBox *, .displayBox *:before, .displayBox *:after {
  position: absolute;
  content: "";
}*/

.centrado {
    text-align:center;
    margin: 0 auto;
    display: block;
    color: white;
    background: black;
    width: 100%;
  height: 100%;
}

.candleBox {
  position: relative;
  display: flex;
  justify-content: center;
  width: 375px;
  bottom: 125px;
  z-index: 1;
}

.candleBox *, .candleBox *:before, .candleBox *:after {
  position: absolute;
  content: "";
}

.Acandle {
  
  
  bottom: 70px;
  width: 185px;
  height: 86px;
  left: -90px;
  border-radius: 150px / 40px;
  background: #3b094d;
  z-index: 3;
}
.Acandle:after {
  width: 45px;
  height: 12px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  top: 12px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.85);
 
}

.Bcandle {
    
  bottom: 70px;
  width: 185px;
  height: 330px;
  left: 180px;
  border-radius: 150px / 40px;
  background: #3b094d;
  z-index: 3;
}

.Bcandle:after {
  width: 45px;
  height: 12px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  top: 12px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.85);
 
}
.Ccandle {
  
  display: flex;
  height: 300px;
  width: 180px;
  bottom: 50px; 
  left: 20px;
  border-radius: 150px / 40px;
  background: #d210e8;
  z-index: 4;
}
.Ccandle:after {
  width: 45px;
  height: 12px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  top: 12px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.85);
 
}
.Dcandle {
  
  display: flex;
  height: 300px;
  width: 180px;
  bottom: 30px; 
  right: -80px;
  border-radius: 150px / 40px;
  background: #3b094d;
  z-index: 4;
}
.Dcandle:after {
  width: 45px;
  height: 12px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  top: 12px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.85);
 
}

/**palito vela**/

.thread {  
  
  width: 6px;
  height: 36px;
  top: -17px;
  left: 50%;
  z-index: 4;
  border-radius: 40% 40% 0 0;
  transform: translateX(-50%);
  background: #121212;
  
}

/*tope vela*/

.Atop {
  width: 185px;
  height: 46px;
  background: #85419e;
  border-radius: 100%;
  position: absolute;
  top: -4px;
  overflow: hidden;
}
.Atop .Atop_inner {
  width: 150px;
  height: 46px;
  background: #85419e;
  border-radius: 100%;
  position: absolute;
  top: 4px;
}


.Btop {
  width: 185px;
  height: 46px;
  background: #85419e;
  border-radius: 100%;
  position: absolute;
  top: -4px;
  overflow: hidden;
}
.Btop .Btop_inner {
  width: 150px;
  height: 46px;
  background: #85419e;
  border-radius: 100%;
  position: absolute;
  top: 4px;
}

.Ctop {
  width: 180px;
  height: 46px;
  background: #dd80e8;
  border-radius: 100%;
  position: absolute;
  top: -4px;
  overflow: hidden;
}
.Ctop .Ctop_inner {
  width: 150px;
  height: 46px;
  background: #dd80e8;
  border-radius: 100%;
  position: absolute;
  top: 4px;
}

.Dtop {
  width: 180px;
  height: 46px;
  background: #85419e;
  border-radius: 100%;
  position: absolute;
  top: -4px;
  overflow: hidden;
}
.Dtop .Dtop_inner {
  width: 150px;
  height: 46px;
  background: #85419e;
  border-radius: 100%;
  position: absolute;
  top: 4px;
}

/** llama base **/
.glow {
  width: 20px;
  height: 60px;
  border-radius: 50% 50% 35% 35%;
  left: 49%;
  top: -46px;
  transform: translateX(-50%);
  background: rgba(0, 133, 255, .7);
  box-shadow: 0 -40px 30px 0 #dc8a0c, 0 40px 50px 0 #dc8a0c,
  inset 3px 0 2px 0 rgba(0, 133, 255, .6), 
  inset -3px 0 2px 0 rgba(0, 133, 255, .6);
}

.glow:before {
  width: 70%;
  height: 60%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.35);
}


.blinking-glow {
  width: 100px;
  height: 180px;
  left: 50%;
  top: -55%;
  transform: translateX(-50%);
  border-radius: 50%;
  background: #ff6000;

  filter: blur(60px);
  animation: blinkIt .1s infinite;
}

@keyframes blinkIt {
  50% { opacity: .8;}
}

/** HALO */
.outer-glow {
  width: 200px;
  height: 200px;
  position: absolute;
  border-radius: 100%;
  left: -9px;
  top: -100px;
  opacity: 0.2;
  -webkit-animation: glowFlicker 7s linear infinite;
          animation: glowFlicker 7s linear infinite;
  transform-origin: center center;
}
.outer-glow .outer-outer-glow {
  width: 578px;
  height: 578px;
  background: #403536;
  position: absolute;
  border-radius: 100%;
  left: 50%;
  margin-left: -330px;
  top: -360px;
  -webkit-animation: glowFlicker 5s linear infinite;
          animation: glowFlicker 5s linear infinite;
  transform-origin: center center;
}
.outer-glow .inner-outer-glow {
  width: 200px;
  height: 200px;
  background: #bdaaab;
  position: absolute;
  border-radius: 100%;
  opacity: 1;
  left: 50%;
  margin-left: -100px;
  top: -30px;
}


/*** FLAME ***/

.flame {
  width: 24px;
  height: 80px;
  left: 50%;
  transform-origin: 50% 100%;
  transform: translateX(-50%);
  bottom: 100%;
  border-radius: 50% 50% 20% 20%;
  background: linear-gradient(white 60%, rgb(233, 140, 17), transparent);
  animation: moveFlame 6s linear infinite, enlargeFlame 5s linear infinite;
}

@keyframes moveFlame {
  0%, 100% {
    transform: translateX(-50%) rotate(-2deg) rotateZ(-1deg);
  }
  50% {
    transform: translateX(-50%) rotate(2deg) rotateZ(1deg);
  }
}

@keyframes enlargeFlame {
  0%, 100% {
    height: 90px;
  }
  50% {
    height: 100px;
  }
}

/*/*DROPPINGS*/
.wax-drip {
  width: 18px;
  height: 20px;
  background: #85419e;
    top: 30px;
  left: 18px;
  border-radius: 80% 0 55% 50%/55% 0 80% 50%;
}
.wax-drip .falling-wax {
  width: 15px;
  height: 12px;
  background: #85419e;
  border-radius: 80% 0 55% 50%/55% 0 80% 50%;
  top: 40px;
  left: 3px;
  transform: rotateZ(-30deg) translateY(0);
  -webkit-animation: waxDrop 8s linear infinite;
          animation: waxDrop 8s linear infinite;
}
.wax-droppings {
  width: 30px;
  height: 40px;
  background: #85419e;
  bottom: 15px;
  border-radius: 80% 20% 55% 50%/55% 20% 80% 50%;
  left: 8px;

}
.wax-droppings .more-droppings {
  width: 14px;
  height: 14px;
  background: #85419e;
  bottom: 22px;
  border-radius: 80% 30% 55% 50%/55% 30% 80% 50%;
  left: 22px;
}


@-webkit-keyframes waxDrop {
  0%, 20%, 35% {
    top: 0;
    transform: rotateZ(-45deg);
  }
  100% {
    top: 70px;
    transform: rotateY(-43deg);
  }
}
@keyframes waxDrop {
  0%, 20%, 35% {
    top: 0;
    transform: rotateZ(-45deg);
  }
  100% {
    top: 70px;
    transform: rotateY(-43deg);
  }
}


/*** ORNAMENTS ***/

.ornament {
  positon:absolute;
  bottom: 0;
}

.redOrnament
{
  width: 120px;
  height: 120px;
  position: relative;
  border-radius: 100%;
  z-index: 2;
}
.silverOrnament {
  width: 90px;
  height: 90px;
  position: relative;
  border-radius: 100%;
  z-index: 2;
}

.redOrnament {
  background: radial-gradient(rgb(159,1,2),
                              rgb(181,3,1),
                              rgb(151,44,28));
}

.silverOrnament {
  background: radial-gradient(rgb(207,210,155),
                              rgb(128,138,101));
}

.silverOrnament:before,
.silverOrnament:after,
.redOrnament:before,
.redOrnament:after,
.spot,
.spot:before {
  content: '';
  position: absolute;
  background: radial-gradient(rgba(255,255,255,0.27),
                              rgba(255,255,255,0.27));
  border-radius: 100%;
  box-shadow: 0 0 10px 8px rgba(255,255,255,0.27);
}

.silverOrnament:before,
.redOrnament:before {
  width: 2px;
  height: 25px;
  bottom: 25px;
  left: 15px;
}

.silverOrnament:after,
.redOrnament:after {
  width: 2px;
  height: 10px;
  bottom: 28px;
  left: 40px;
}

.spot {
  width: 2px;
  height: 15px;
  bottom: 30px;
  right: 11px;
}

.spot:before {
  width: 30px;
  height: 7px;
  top: -26px;
  right: 17px;
}

.cap {
  width: 25px;
  height: 20px;
  z-index: 1;
}

.cap:before {
  content: '';
  width: 100%;
  height: 3px;
  border-radius: 100%;
  top: -2px;
  border-bottom: 1px solid rgba(199,184,115,.5);
}

.cap,
.cap:before {
  position: absolute;
  background: linear-gradient(90deg,
                          rgb(202,200,113),
                          rgb(234,197,108),
                          rgb(254,244,183),
                          rgb(180,169,89),
                          rgb(165,150,91),
                          rgb(103,108,54)); 
}

.cap:after {
  content: '';
  position: absolute;
  width: 50%;
  height: 50%;
  border-radius: 100%;
  border: 1px solid gold;
  top: -10px;
  z-index: -1;
  margin: auto;
  left: 0;
  right: 0;
}

.capFull,
.capFull:before {
  position: absolute;
  border-radius: 100%;
}

.capFull {
  width: 24px;
  height: 24px;
  background: radial-gradient(rgb(241,236,155),
                              rgb(187,163,115));
  border-top: 1px solid rgba(134,89,47,0.3);
  border-right: 1px solid rgba(134,89,47,0.3);
  z-index: 9;
}

.capFull:before {
  content: '';
  background: rgb(140,137,70);
  width: 22px;
  height: 22px;
  top: 3px;
  right: 1px;
  border-top: 1px solid rgb(147,132,63);
  border-right: 1px solid rgb(102,88,41);
  border-left: 1px solid rgb(185,185,125);
}

.capFull:after {
  content: '';
  background: linear-gradient(90deg,rgb(119,125,65),
                                    rgb(232,195,106),
                                    rgb(119,125,65));
  position: absolute;
  width: 75%;
  height: 2px;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: 7px;
  border: 1px solid rgb(119,125,65);
  border-top: 1px solid transparent !important;
}

/** ORNAMENT PLACEMENT **/


.orna2 .silverOrnament,
.orna5 .silverOrnament,
.orna7 .silverOrnament {
  box-shadow: -5px 2px 8px rgba(127,54,47,0.7) inset;
}

.orna1 .redOrnament,
.orna3 .redOrnament,
.orna4 .redOrnament,
.orna6 .redOrnament,
.orna8 .redOrnament {
  box-shadow: -3px 4px 6px rgba(150,19,11,0.7) inset,
              -3px -9px 6px rgba(150,19,11,0.7) inset;
}

.orna5,
.orna6,
.orna7,
.orna8 {
  transform: rotateY(180deg);
}

/* LEFT SIDE OF PLATE */
.orna1 {
  left: -180px;
  z-index: 4;
  bottom: 40px;
}

.orna2 {
  left: -95px;
  bottom: 25px;
  z-index: 4;
}

.orna2 .capFull,
.orna8 .capFull {
  bottom: 22px;
  left: 22px;
}

.orna3 {
  left: 25px;
  z-index: 5;
  bottom: 15px;
}

.orna3 .cap {
  top: -8px;
  right: 22px;
  transform: rotate(15deg);
}

.orna4 {
  left: -25px;
  z-index: 5;
  bottom: -5px;
}

.orna4 .cap {
  bottom: 8px;
  right: -7px;
  transform: rotate(120deg);
}

/* RIGHT SIDE OF PLATE */
.orna5 {
  right: -45px;
  z-index: 5;
  bottom: 70px;
  z-index: 2;
}

.orna6 {
  right: -135px;
  z-index: 5;
  bottom: 20px;
}

.orna6 .cap {
  bottom: 20px;
  left: -10px;
  transform: rotate(-110deg);
}

.orna7 {
  right: -55px;
  z-index: 7;
  bottom: 8px;
}

.orna8 {
  right: 25px;
  z-index: 4;
  bottom: 10px;
}

/** ORNAMENT SHADOW **/

.shadow {
  position: absolute; 
  height: 30px;
  width: 80px;
  border-radius: 100%;
  background: rgba(41,51,24,0.12);
  bottom: -8px;
  left: -12px;
  box-shadow: 0px 0px 33px rgba(41,51,24,0.15);
}

/*mitlestoe*/
.mistletoe{
  width: 300px;
  margin: 0;
  bottom: 200px;
  z-index: 5;
  left:-40px;

}

/*** PLATE ***/

#plate,
#plate:before,
#plate:after {
  width:700px;
  height: 200px;
  position: absolute;
  bottom: 0;
  border-radius: 100%;
}

#plate {
  background: linear-gradient(rgb(102,134,71),
                              rgb(110,145,77),
                              rgb(113,148,80),
                              rgb(91,107,58));
  border-top: 4px solid rgb(114,146,83);
  border-right: 1px solid rgb(77,99,37);
  border-bottom: 5px solid rgb(164,94,60);
  border-left: 1px solid rgb(98,132,71);
  bottom: 85px;
}

#plate:before {
  content: '';
  background: transparent;
  border-bottom: 2px solid rgb(73,70,27);
  border-left: 1px solid rgba(244,255,246,0.25);
  border-right: 1px solid rgb(86,110,48);
}

#plate:after {
  content: '';
  background: rgb(116,151,83);
  border-bottom: 1px solid rgb(125,115,64);
  z-index: -1;
  bottom: -10px;
  width: 65%;
  height: 50%;
  margin: 0 auto;
  left: 0;
  right: 0;
  box-shadow: 1px 1px 8px rgb(125,115,64);
}


/*** ANIMATIONS ***/

@keyframes flame {
  0% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes glow {
  0% {
    filter: brightness(1.05);
  }
  50% {
    filter: brightness(1);
  }
  100% {
    filter: brightness(0.9);
  }
}

